#editor {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
#editor {
  height: 95vh;
  width: 48.5vw;
  line-height: 1.5;
  border: 1px solid black;

  overflow: auto;
  /* Disable resize functionality */
  resize: none;
  /* Remove default padding, margin */
  padding: 5px;
  margin: 0;
}
