#editor {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
#editor {
  height: 95vh;
  width: 100%;
  line-height: 1.5;
  border: 1px solid black;

  /* Disable resize functionality */
  resize: none;
  /* Remove default padding, margin */
  padding: 0;
  margin: 0;
}
